<!DOCTYPE html>
<html>
<head>
  <title>Learning Angular.js</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
  <script src="js/app2.js"></script>
</head>
<body ng-app="MyApp">
  <label for="checkbox">
    <input id="checkbox" type="checkbox" ng-model="visible">Toggle Me!
  </label>
  <label for="checkbox">
    <input id="checkbox2" type="checkbox" ng-model="fsize">Toggle Me!
  </label>
  <div show="visible">
    <p>Hello World</p>
  </div>
  <div size="fsize">
    <p>A delicious Mango!</p>
  </div>
</body>
</html>
